@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: inherit;
}
:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--DesaturatedRed);
    background-image: url(/images/bg-pattern-desktop.svg);
}
label{
    display: none;
}
.container{
   padding: 0 20px;
   max-width: 1300px;
}
header img{
   padding: 30px 0;
   width: 50%;
}
header{
    width: 50%;
}
.content{
    display: flex;
    flex-direction: column-reverse;
        height: 100vh;
}
h1{
    font-weight: 300;
    letter-spacing: 1rem;
   text-transform: uppercase;
    line-height: 2.2rem;
   font-size: 2.3rem;
}
.strongTxt{
    font-weight: 600;
    color: var(--DarkGrayishRed);
    
}
.right-col{
    margin-bottom: 50px;
}
.bg-mobile{
    margin-left: -20px;
    margin-right: -20px;
    display: block;
    width: calc(100% + 40px);
    margin-bottom: 60px;
}
.bg-desktop{
    display: none;
}
.left-col p{
    margin: 30px 0;
}
form{
    position: relative;
}
form input{
    padding: 15px 20px;
    width: 100%;
    border: 1px solid var(--DesaturatedRed);
    border-radius: 25px;
}
form input::placeholder{
    color: var(--DesaturatedRed);
}
form button{
   position: absolute;
   background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   width: 20%;
   border: none;
   border-radius: 25px;
   top: 0;
   right: 0;
   bottom: 0;
   transition: all 0.3s ease;
   cursor: pointer;
   box-shadow: 2px 5px 10px  hsla(0, 36%, 70%, 0.5);
}
.error-txt{
   float: left;
   margin-left: 22px;
   margin-top: 10px;
   display: none;
}
.error-icon{
  position: absolute;
  top: 12px;
  right: 22%;
  display: none;
}

/* focus state */
form input:focus:focus,
form button:focus{
    outline: none !important;
}
form input:focus{
    border-width: 2px;
    box-shadow: 0px 0px 10px  hsla(0, 36%, 70%, 0.5);
}
/* hover state */
form button:hover{
    transform: scale(1.2);
}


@media only screen and (min-width: 755px){
    .container{
       margin-left: 100px;
    }
    .bg-desktop{
        background-image: url(/images/hero-desktop.jpg);
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
        height: 100vh;   
    }
    .bg-mobile{
        display: none;
    }
    .content{
        flex-direction: row;
    }
    .right-col,.left-col{
        width: 100%;
    }
    .left-col{
        flex: 0.6;
        
    }
    .right-col{
        flex: 0.4;
    }
    .left-content{
        width: 455px;
        margin-top: 100px;
    }
    .left-content p {
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 900px)