@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --DesaturatedRed: hsl(0, 36%, 70%);
    --SoftRed: hsl(0, 93%, 68%);
    --DarkGrayishRed: hsl(0, 6%, 24%);
}
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: var(--DesaturatedRed);
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
label{
    display: none;
}
.container{
    display: flex;
    min-height: 100vh;
}
.left-col{
    flex: 60%;
    padding: 0 40px;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
}
.right-col{
    flex: 40%;
}

.bg-desktop{
        background-image: url(/images/hero-desktop.jpg);
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
}
.bg-mobile{
        background-image: url("/images/hero-mobile.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        display: none;
}
.logo{
    margin: 60px 0;
    width: 200px;
}
h1{
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 600;
    color: var(--DarkGrayishRed);
    text-transform: uppercase;
}
.diverseTxt{
    font-weight: 300;
    color: var(--DesaturatedRed);
}

.left-content p {
    line-height: 28px;
    letter-spacing: 1 px;
    margin-bottom: 30px;
}
.inner-container{
    max-width: 450px;
    margin: auto;
}
form{
    position: relative;
}
form input{
    padding: 15px 20px;
    width: 100%;
    border: 1px solid var(--DesaturatedRed);
    border-radius: 25px;
    background-color: transparent;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}
form input::placeholder{
    color: var(--DesaturatedRed);
}
form button{
   position: absolute;
   background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   width: 20%;
   border: none;
   border-radius: 25px;
   top: 0;
   right: 0;
   bottom: 0;
   transition: all 0.3s ease;
   cursor: pointer;
   box-shadow: 2px 5px 10px  hsla(0, 36%, 70%, 0.5);
}
.error{
    border-color: var(--SoftRed);
}
.errorTxt{
   float: left;
   margin-left: 22px;
   margin-top: 10px;
   display: none;
   margin-bottom: 10px;
}
.errorIcon{
  position: absolute;
  top: 12px;
  right: 22%;
  display: none;
}
form.error input{
    border: 2px solid var(--SoftRed);
}
form.error .errorIcon{
    display: block;
}
form.error .errorTxt{
    display: block;
}
form.submit input{
    border: 2px solid var(--DesaturatedRed);
    background-color: transparent;
}

/* focus state */
form input:focus:focus,
form button:focus{
    outline: none !important;
}
form input:focus{
    border-width: 2px;
    box-shadow: 0px 0px 10px  hsla(0, 36%, 70%, 0.5);
}
/* hover state */
form button:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 600px){
     .left-col{
        width: 100%;
     }
     .bg-desktop{
        display: none;
     }
     .bg-mobile{
        display: block;
        margin-left: -40px;
        margin-right: -40px;
        width: calc(100% + 80px);
        margin-bottom: 60px;
     }
   
}
@media only screen and (max-width: 455px){
    .logo{
        width: 100px;
        margin: 30px 0;
    }
    h1{
        font-size: 40px;
        text-align: center;
    }
    p{
        text-align: center;
    }
    
}